{% extends 'index.html' %}
{% load static %}
{% block title %}
    home
{% endblock %}
{% block main %}
    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="{% static 'assets/img/bg.jpg' %}" alt="" data-aos="fade-in">

            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h2>Sajjadhossein</h2>
                <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, Programmer"></span><span
                        class="typed-cursor typed-cursor--blink"></span></p>
                <div class="social-links">
                    <a href="https://t.me/Sajjadhossein"><i class="bi bi-telegram"></i></a>
                    <a href="https://www.facebook.com/share/1GqyBRa41M/"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/sajjadhosseinrezay/profilecard/?igsh=ZGpnb2R3anY4bjhm"><i
                            class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/sajjadhossein-rezaei-b3a0a1320?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                            class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </section><!-- /Hero Section -->

    </main>
{% endblock %}
